

     <%- include('../base/nav')%>
    <h3 class="mt-2" align="center">USERS TABLE</h3>
    <div class="container mt-5">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% i=1 %>
            <% users.forEach(user=> { %>
              <tr>
                <th scope="row">
                  <%=i%>
                </th>
                <td>
                  <%= user.email %>
                </td>
                <td>Otto</td>
                <td><a class="btn btn-outline-danger delete" data-del="<%=user.email %>,<%=user._id %>">delete</a></td>
              </tr>
              <% i++ %>
                <% }) %>

        </tbody>
      </table>
    </div>
    <script>
      const del_link = document.querySelectorAll('a.delete');
      console.log(del_link)

      del_link.forEach(data => {
        data.addEventListener('click', async (e) => {
          const arrdata = data.dataset.del;
          const [name,id]=arrdata.split(',')
          const path = '/admin/users/' + id;
          try {
            const data = await fetch(path, {
              method: 'delete',
            })
            if (data) {
             const obj= await data.json()
             alert(`${name} : is deleted`)
             window.location = obj.redirect
            }

          } catch (err) {
            console.log(err)
          }
        })
      })


    </script>
    <%- include('../base/footer')%>